<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    <display-name>xsg_book</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>servlet.RegistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>releaseRequirements</servlet-name>
        <servlet-class>servlet.releaseRequirementsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mineServlet</servlet-name>
        <servlet-class>servlet.mineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main_interfaceServlet</servlet-name>
        <servlet-class>servlet.main_interfaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/RegistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>releaseRequirements</servlet-name>
        <url-pattern>/releaseRequirements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mineServlet</servlet-name>
        <url-pattern>/mineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main_interfaceServlet</servlet-name>
        <url-pattern>/main_interfaceServlet</url-pattern>
    </servlet-mapping>


</web-app>